[submodule "extern/libuv"]
	path = extern/libuv
	url = https://github.com/libuv/libuv
[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "extern/LuaBridge"]
	path = extern/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson
