[submodule "extern/libuv"]
	path = extern/libuv
	url = https://github.com/libuv/libuv
[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "extern/LuaBridge"]
	path = extern/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
